<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="shadow-box">
		<h1>로그인</h1>
		<form action="/user/login" method="post">
			<input type="text" name="userId" id="userId" class="form-control mt-3" placeholder="아이디를 입력하세요">
			<input type="text" name="password" id="userId" class="form-control mt-3" placeholder="비밀번호를 입력하세요">
			<div class="d-flex justify-content-end mt-3">
				<button type="submit" id="loginBTN" class="btn btn-warning text-light w-100">로그인</button>
			</div>
		</form>
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>
</html>