<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="content-box">
		<!-- 글쓰기 영역 -->
			<div th:if="${session.userId != null}" class="write-box border rounded m-3">
				<textarea id="writeTextArea" placeholder="내용을 입력해주세요" class="w-100 border-0"></textarea>
				
				<div class="d-flex justify-content-between">
					<div class="file-upload d-flex align-items-center">
						<input type="file" id="file" class="d-none" accept=".jpg, .png, .gif">
						
						<a href="#" id="fileUploadBtn"><img id="file" width="35" src="/image/file-upload.png"></a>
						
						<div id="fileName" class="ml-2"></div>
					</div>
					<button id="writeBtn" class="btn btn-info">게시</button>
				</div>
			</div>
	
		<!-- 타임라인 영역 -->
		<div class="timeline-box my-5">
			<div th:each="cardView : ${cardViewList}" class="card border w-100 mt-3">
			
				
				<!-- 헤드 -->
				<div class="headbox d-flex justify-content-between align-items-center p-2">
					<span class="font-weight-bold" th:text="${cardView.user.loginId}"></span>
					<a  th:if="${session.userId == cardView.post.userId}" href="#"  class="more-btn">
						<img width="30" alt="메뉴" src="/image/more-icon.png">
					</a>
				</div>
				
				
				<!-- 올린 사진 -->
				<div class="card-img">
					<img alt="사진" th:src="${cardView.post.imagePath}" class="w-100">
				</div>
				
				<!-- 좋아요 -->
				<div class="card-like mt-3">
					<a href="#">
						<img alt="좋아요" src="/image/heart-icon.png" width="30">
					</a>
					<span th:text="|좋아요 13개|">좋아요 11개</span>
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<span th:text="${cardView.user.loginId}" class="font-weight-bold"></span>
					<span th:text="${cardView.post.content}"></span>
				</div>
				
				<!-- 댓글 제목 -->
				<div class="card-comment-title border-bottom">
					<span class="font-weight-bold ml-3 mb-1">댓글</span>
				</div>
				
				<!-- 댓글 -->
				<div class="card-comment-list m-2"> 
					<div class="card-comment m-1" th:each="commentView : ${cardView.CommentList}">
							<span class="font-weight-bold" th:text="${commentView.user.loginId}">작성자</span>
							<span th:text="${commentView.comment.content}">글</span>
							<a th:if="${session.userId == commentView.user.Id}" th:data-comment-id="${commentView.comment.id}" href="#" class="comment-del-btn">
								<img alt="취소" src="/image/x-icon.png" width="10" height="10">
							</a>
					</div>
				</div>
				
				<!-- 댓글 달기 -->
				<div class="comment-write d-flex border-top mt-2">
					<input type="text" name="comment"  class="comment form-control border-0 mr-2" placeholder="댓글 달기">
					<button type="button" class="comment-btn btn btn-light" th:data-post-id="${cardView.post.id}" th:data-user-id="${session.userId}">게시</button>
				</div>
			</div>
	
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function(){
			
			//이미지 a태그 클릭 => 숨겨져 있는 id="file" 태그 동작시킴
			$("#fileUploadBtn").on('click', function(e){
				e.preventDefault(); // 위로 올라가는 현상 방지
				// alert("클릭");
				$("#file").click();
			});
			
			//파일이 선택될 때 --> 유효성 체크 , 파일명 노출
			$("#file").on('change', function(e){
				//취소를 누를 때 처리(파일이 비워지므로 .name에서 에러 발생)
				let file = e.target.files[0];
				if (file == null ){
					$("#file").val("");
					$("#fileName").text("");
					return;
				}
				
				//alert("이미지 선택");
				let fileName = e.target.files[0].name; // bord.jpg
				console.log(fileName);
				
				//확장자 validation
				let ext = fileName.split(".").pop().toLowerCase();
				console.log(ext);
				
				if (ext != "gif" && ext != "png" && ext != "jpg") {
					alert("이미지 파일만 업로드 할 수 있습니다.");
					$("#file").val("");// 파일 태그에 올라온 것 제거(보이지 않지만 꼭! 처리)
					$("#fileName").text(""); // 보여지고 있는 파일명 초기화
					return;
				}
				
				// 2. 파일명 노출
				$("#fileName").text(fileName);
			});
			
			$("#writeBtn").on('click', function(e){
				e.preventDefault();
				let content= $("#writeTextArea").val();
				let fileName = $("#file").val();
				
				
				
				//유효성 검사 
				if(fileName == ""){
					alert("사진을 입력해주세요.");
					return ;
				}

				console.log(content);
				console.log(fileName);

				let formData = new FormData();
				formData.append("content",content);
				formData.append("file",$("#file")[0].files[0]);
				
				$.ajax({
					method:"post"
					,url:"/timeline/post/create"
					,data:formData
					,enctype:"multipart/form-data"
					,processData:false
					,contentType:false
					,success:function(data){
						if(data.code == 200){
							location.reload();
						} else if(data.code == 403){
							alert(data.error_message);
						} else{
							alert(data.error_message);
						}
					}
					,error:function(e){
						alert("에러 발생");
					}
				})
				
			});
			
			$(".comment-btn").on('click',function(){
				let userId = $(this).data("user-id");
				
				if(!userId){
					alert("로그인을 해주세요.");
					location.href="/user/sign-in-view"
					return;
				}
				
				let postId = $(this).data("post-id");
				
				// 1) 이전 태그 값 가져오기
				// let content = $(this).prev().val().trim();
			
				// 2) 형제 태그 중 input값 가져오기
				let content = $(this).siblings().val().trim();

				if(!content){
					alert("댓글을 입력해주세요")
					return;
				}
				
				console.log(postId);
				console.log(content);
				
				$.ajax({
					method:"post"
					,url:"/comment/create"
					,data:{"content":content , "postId":postId}
					,success:function(data){
						if(data.code == 200){
							alert(data.result);
							location.reload();
						} else{
							alert(data.error_message);
							location.href="/user/sign-in-view";
						}
					}
					,error:function(e){
						alert("에러 발생")
					}
					
				});
			});
			
			$(".comment-del-btn").on('click',function(){
				
				let commentId = $(this).data("comment-id")
				
				$.ajax({
					method:"delete"
					,url:"/comment/delete"
					,data:{"id":commentId}
					,success:function(data){
						if(data.code == 200){
							alert(data.result);
							location.reload();
						}
					}
					,error:function(e){
						alert("에러발생");
					}
					
				});
			});
		});
    </script>
</th:block>
</html>